* {
  margin: 0;
  padding: 0;
}

/* .instagram-phone {
  display: flex;
  background-image: url(../img/phones.png);
  background-repeat: no-repeat;
  height: 100vh;  
}

.instagram-snapshots {
  background-size: 468.32px 634.15px;
} */

